.footer{
    background-image: url("/test.png")repeat 0 0;
    width: 100%;
    background-color: red;
}

.footer_text{
    text-align: center;
    font-size: 1.5rem;
    background-image: url("/test.png")repeat 0 0;
}