aside {
  width: 20%;
  padding-left: 15px;
  padding-top: 5px;
  height: 100%;
  float: left;
  background-color:  rgb(214,209,173);
  position: relative;
}

.checkbox{
  padding-top: 15px;
  padding-left: 25px;
  color: white;
  font-size: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(214,209,173);
  padding: 10px;
}
.grid-item {
  background-color: rgb(214,209,173);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
}

.grid-image{
  width:5rem;
  height: 5rem;
  border-radius: 50%;
}

.bottom-link {
  position: absolute;
  bottom: 20px;
  background-color: black;
  padding: 0.5rem;
  border-radius: 3px;
  transition: background-color .3s ease-in-out;
}

.bottom-link:hover {
  transition: background-color .3s ease-in-out;
  background-color: rgb(41, 41, 41);
}

.bottom-link-text {
  color: white;
}