header {
    height: 80px;
    background-color: rgb(191,199,160);
    color: white;
}

.header {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0.5rem;
    padding-top: 0;
}

.logo {
    flex: 2;
    padding: 1.3rem;
    padding-left: 2rem;
}

.logo-link {
    color: white;
    text-decoration: none;
}

.menu {
    flex: 2;
    padding: 1rem;
}

.menu-wrap {
    padding: 1rem;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

a.nav-item {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: color 0.2s ease-out;
}

a.nav-item:hover {
    color: rgb(221, 221, 221);
    transition: color 0.2s ease-in;
}

.hamburger {
    display: none;
}

.login {
    background-color: white;
    color: black !important;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

i.left {
    margin-left: 5px;
}

/* Responsive header styling */

@media (max-width: 768px) {
    .menu {
        position: absolute; 
        top: 79px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        background-color: rgb(191,199,160);
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }

    .menu-wrap {
        padding: 0;
    }

    .menu-list {
        flex-flow: column;
        line-height: 4rem;
        justify-content: center;
        margin-top: 10rem;
    }

    .hamburger {
        display: block;
        padding: 1.5rem;
        font-size: 20px;
        cursor: pointer;
    }

    .show {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
}