.Login {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.icoon {
    color: blue;
}

.gebruikersnaam {
    border-radius: 15px;
}

.inputgebruikersnaam {
    border-radius: 5px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: 30%;
}