section.over {
    background-color:  rgb(214,209,173);
    display: grid;
    grid-template-areas: 
    "about contact";
    grid-gap: 10px;
    padding: 3rem;
}

div.about {
    padding: 3rem;
    line-height: 1.5rem;
    width: 50%;
    background-color: white;
    border-radius: 3px;
    grid-area: about; 
}

.contact { 
    grid-area: contact; 
    padding: 3rem;
    line-height: 1.5rem;
    width: 50%;
    background-color: white;
    border-radius: 3px;
}