section.over {
    background-color:  rgb(214,209,173);
    display: grid;
    place-items: center;
    padding: 3rem;
}

div.about {
    padding: 3rem;
    line-height: 1.5rem;
    width: 50%;
    background-color: white;
    border-radius: 3px;
}