.overview-holder {
    padding: 5rem;
    padding-left: 2.5rem;
}

.products {
    background-color: rgb(206, 206, 206);
    border-radius: 3px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.records {
    width: 200px;
    margin: 10px 0 0 10px;
}

.overview-item {
    padding: 0.2rem;
}