.centered {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 20rem;
}

.succesvol {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(191,199,160);
    margin-top: 15px;
    cursor: pointer;
}

.bt {
    color: white;
}